In [1]:
import pandas as pd
import numpy as np

In [47]:
df =  pd.read_csv('teamPerGame.csv')
df.drop(columns=['Rk'], inplace=True)
df.head(20)

,Team,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Cleveland Cavaliers*,44.5,90.8,0.491,15.9,41.5,0.383,28.6,49.3,0.581,...,0.776,11.2,34.2,45.4,28.1,8.2,4.3,13.2,18.1,121.9
1,Memphis Grizzlies*,44.8,93.3,0.479,13.9,37.9,0.367,30.8,55.5,0.556,...,0.786,12.9,34.4,47.3,28.4,8.9,5.6,15.7,20.9,121.7
2,Denver Nuggets*,45.4,89.8,0.506,12.0,31.9,0.376,33.4,57.8,0.578,...,0.770,11.2,34.5,45.7,31.0,8.0,4.9,14.3,17.6,120.8
3,Oklahoma City Thunder*,44.6,92.7,0.482,14.5,38.8,0.374,30.1,53.9,0.559,...,0.819,10.6,34.2,44.8,26.9,10.3,5.7,11.7,19.9,120.5
4,Atlanta Hawks*,43.4,91.8,0.472,13.5,37.7,0.358,29.9,54.1,0.552,...,0.775,11.9,32.6,44.5,29.6,9.7,5.1,15.5,19.1,118.2
5,Chicago Bulls*,43.2,92.0,0.470,15.4,42.0,0.367,27.8,50.0,0.556,...,0.809,10.1,35.8,45.9,29.1,7.6,4.7,14.7,17.6,117.8
6,Indiana Pacers*,43.6,89.3,0.488,13.2,35.8,0.368,30.4,53.6,0.568,...,0.789,9.2,32.7,41.8,29.2,8.5,5.5,13.2,18.7,117.4
7,Boston Celtics*,41.6,90.0,0.462,17.8,48.2,0.368,23.9,41.8,0.571,...,0.799,11.4,33.9,45.3,26.1,7.2,5.5,11.9,15.9,116.3
8,New York Knicks*,43.3,89.2,0.486,12.6,34.1,0.369,30.8,55.1,0.558,...,0.800,10.9,31.8,42.6,27.5,8.2,4.0,13.3,17.2,115.8
9,Sacramento Kings*,43.0,90.1,0.478,12.6,35.2,0.357,30.5,54.9,0.555,...,0.806,11.0,33.2,44.2,26.5,7.6,4.4,13.3,18.9,115.7
10,Milwaukee Bucks*,42.0,86.4,0.486,14.2,36.6,0.387,27.9,49.7,0.560,...,0.750,8.2,35.1,43.4,25.5,7.3,4.7,13.4,17.9,115.5
11,Detroit Pistons*,42.7,89.8,0.476,12.8,35.4,0.362,29.9,54.4,0.550,...,0.774,11.4,33.4,44.8,26.4,8.0,5.3,14.9,20.7,115.5
12,Minnesota Timberwolves*,41.0,87.6,0.468,15.0,39.9,0.377,26.0,47.7,0.545,...,0.789,11.1,33.2,44.3,26.1,8.0,5.0,14.5,18.3,114.3
13,Houston Rockets*,42.5,93.4,0.455,12.7,35.8,0.353,29.8,57.6,0.518,...,0.738,14.6,33.8,48.5,23.3,8.4,5.0,13.9,19.0,114.3
14,Dallas Mavericks*,42.0,87.7,0.479,12.4,34.2,0.364,29.5,53.6,0.552,...,0.770,10.1,33.0,43.0,25.2,7.8,5.4,14.0,17.8,114.2
15,San Antonio Spurs,41.8,89.8,0.465,14.1,39.6,0.357,27.7,50.2,0.551,...,0.774,10.9,32.7,43.7,28.6,8.2,5.5,13.9,16.6,113.9
16,Golden State Warriors*,40.8,90.4,0.451,15.4,42.4,0.364,25.3,48.0,0.528,...,0.764,12.5,32.8,45.4,29.1,9.4,4.8,14.0,19.2,113.8
17,Phoenix Suns,41.2,86.3,0.478,14.3,38.0,0.378,26.9,48.3,0.556,...,0.810,9.5,32.9,42.5,27.8,7.2,4.8,14.1,17.9,113.6
18,Los Angeles Lakers*,40.9,85.5,0.479,13.3,36.4,0.366,27.6,49.1,0.562,...,0.785,9.7,32.8,42.4,26.0,7.7,4.5,14.0,17.3,113.4
19,Los Angeles Clippers*,41.6,86.3,0.482,12.5,33.4,0.373,29.1,52.9,0.550,...,0.797,10.3,33.5,43.8,25.2,9.4,4.5,14.9,18.3,112.9

In [57]:
dmap = {'Cleveland Cavaliers': 'CLE', 'Memphis Grizzlies': 'MEM', 'Miami Heat': 'MIA', 'New Orleans Pelicans': 'NOP', 'Oklahoma City Thunder': 'OKC', 'Orlando Magic': 'ORL', 'Philadelphia 76ers': 'PHI', 'Phoenix Suns': 'PHX', 'Portland Trail Blazers': 'POR', 'San Antonio Spurs': 'SAS', 'Toronto Raptors': 'TOR', 'Utah Jazz': 'UTA', 'Denver Nuggets': 'DEN', 'Golden State Warriors': 'GSW', 'Los Angeles Clippers': 'LAC', 'Los Angeles Lakers': 'LAL', 'Minnesota Timberwolves': 'MIN', 'Brooklyn Nets': 'BKN', 'Charlotte Hornets': 'CHA', 'Chicago Bulls': 'CHI', 'Dallas Mavericks': 'DAL', 'Detroit Pistons': 'DET', 'Houston Rockets': 'HOU', 'Indiana Pacers': 'IND', 'Milwaukee Bucks': 'MIL', 'New York Knicks': 'NYK', 'Sacramento Kings': 'SAC', 'Atlanta Hawks': 'ATL', 'Boston Celtics': 'BOS', 'Washington Wizards': 'WAS'}

In [58]:
# Remove asterisks from team names and map to abbreviations
df['Team'] = df['Team'].str.replace('*', '', regex=False).map(dmap)
df.head()

,Team,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,CLE,44.5,90.8,0.491,15.9,41.5,0.383,28.6,49.3,0.581,...,0.776,11.2,34.2,45.4,28.1,8.2,4.3,13.2,18.1,121.9
1,MEM,44.8,93.3,0.479,13.9,37.9,0.367,30.8,55.5,0.556,...,0.786,12.9,34.4,47.3,28.4,8.9,5.6,15.7,20.9,121.7
2,DEN,45.4,89.8,0.506,12.0,31.9,0.376,33.4,57.8,0.578,...,0.770,11.2,34.5,45.7,31.0,8.0,4.9,14.3,17.6,120.8
3,OKC,44.6,92.7,0.482,14.5,38.8,0.374,30.1,53.9,0.559,...,0.819,10.6,34.2,44.8,26.9,10.3,5.7,11.7,19.9,120.5
4,ATL,43.4,91.8,0.472,13.5,37.7,0.358,29.9,54.1,0.552,...,0.775,11.9,32.6,44.5,29.6,9.7,5.1,15.5,19.1,118.2

In [40]:
type(df['FG%'].iloc[0])

numpy.float64

In [72]:
team1_stats = df[df['Team'] == 'MEM']
team1_stats.head()

,Team,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1,MEM,44.8,93.3,0.479,13.9,37.9,0.367,30.8,55.5,0.556,...,0.786,12.9,34.4,47.3,28.4,8.9,5.6,15.7,20.9,121.7

In [74]:
team2_stats = df[df['Team'] == 'NYK']
team2_stats.head()

,Team,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
8,NYK,43.3,89.2,0.486,12.6,34.1,0.369,30.8,55.1,0.558,...,0.8,10.9,31.8,42.6,27.5,8.2,4.0,13.3,17.2,115.8

In [41]:
df['Team'][1]

'MEM'

In [78]:
# Calculate differences between team stats
columns = ['FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB','TRB', 'AST', 'STL', 'BLK', 'TOV']
diff_dict = {}

for col in columns:
    diff_dict[f'{col}_diff'] = [team1_stats.iloc[0][col] - team2_stats.iloc[0][col]]

diff = pd.DataFrame(diff_dict)
diff

,FG_diff,FGA_diff,FG%_diff,3P_diff,3PA_diff,3P%_diff,FT_diff,FTA_diff,FT%_diff,ORB_diff,DRB_diff,TRB_diff,AST_diff,STL_diff,BLK_diff,TOV_diff
0,1.5,4.1,-0.007,1.3,3.8,-0.002,1.8,2.6,-0.014,2.0,2.6,4.7,0.9,0.7,1.6,2.4

In [39]:
col1 = df['FG'].sort_values(ascending=False)
col1

2     45.4
1     44.8
3     44.6
0     44.5
6     43.6
4     43.4
8     43.3
5     43.2
9     43.0
11    42.7
13    42.5
10    42.0
14    42.0
15    41.8
7     41.6
19    41.6
21    41.6
17    41.2
12    41.0
18    40.9
16    40.8
24    40.6
22    40.5
23    40.5
20    40.3
25    39.7
26    39.4
28    38.3
27    38.2
29    37.6
Name: FG, dtype: float64

In [122]:
games = pd.read_csv('2024-games.csv')
games.head(20)

,teamCity,teamName,opponentTeamCity,opponentTeamName,win,blocks,steals,fieldGoalsAttempted,fieldGoalsPercentage,threePointersAttempted,threePointersPercentage,freeThrowsAttempted,freeThrowsPercentage,reboundsDefensive,reboundsOffensive,foulsPersonal,turnovers
0,Denver,Nuggets,Los Angeles,Clippers,1,4.0,11.0,90.0,0.522,29.0,0.379,21.0,0.714,35.0,11.0,23.0,12.0
1,Los Angeles,Clippers,Denver,Nuggets,0,9.0,10.0,82.0,0.476,27.0,0.296,22.0,0.682,31.0,5.0,17.0,14.0
2,Golden State,Warriors,Houston,Rockets,0,6.0,6.0,90.0,0.411,49.0,0.306,22.0,0.818,29.0,13.0,30.0,16.0
3,Houston,Rockets,Golden State,Warriors,1,5.0,12.0,78.0,0.449,30.0,0.400,46.0,0.717,35.0,11.0,18.0,11.0
4,Denver,Nuggets,Los Angeles,Clippers,0,7.0,6.0,84.0,0.524,27.0,0.407,9.0,0.667,29.0,10.0,14.0,12.0
5,Los Angeles,Clippers,Denver,Nuggets,1,9.0,9.0,86.0,0.500,39.0,0.308,15.0,0.867,26.0,9.0,15.0,7.0
6,New York,Knicks,Detroit,Pistons,1,4.0,6.0,86.0,0.477,30.0,0.333,30.0,0.800,30.0,13.0,22.0,16.0
7,Detroit,Pistons,New York,Knicks,0,3.0,9.0,81.0,0.469,34.0,0.265,33.0,0.848,30.0,6.0,23.0,15.0
8,Los Angeles,Lakers,Minnesota,Timberwolves,0,1.0,5.0,78.0,0.423,37.0,0.297,25.0,0.760,29.0,8.0,25.0,15.0
9,Minnesota,Timberwolves,Los Angeles,Lakers,1,5.0,8.0,89.0,0.404,47.0,0.149,33.0,0.727,36.0,18.0,23.0,11.0
10,Golden State,Warriors,Houston,Rockets,0,5.0,10.0,103.0,0.417,44.0,0.341,22.0,0.682,24.0,25.0,27.0,14.0
11,Houston,Rockets,Golden State,Warriors,1,7.0,9.0,78.0,0.551,30.0,0.433,38.0,0.842,31.0,8.0,22.0,12.0
12,Denver,Nuggets,Los Angeles,Clippers,1,7.0,7.0,86.0,0.558,33.0,0.515,23.0,0.783,30.0,8.0,21.0,9.0
13,Los Angeles,Clippers,Denver,Nuggets,0,8.0,6.0,82.0,0.524,29.0,0.379,28.0,0.643,28.0,10.0,21.0,10.0
14,Boston,Celtics,Orlando,Magic,1,3.0,5.0,76.0,0.566,24.0,0.542,24.0,0.875,35.0,3.0,18.0,11.0
15,Orlando,Magic,Boston,Celtics,0,2.0,7.0,88.0,0.375,38.0,0.211,22.0,0.682,29.0,15.0,20.0,9.0
16,New York,Knicks,Detroit,Pistons,0,10.0,5.0,90.0,0.433,25.0,0.360,27.0,0.593,34.0,15.0,27.0,13.0
17,Detroit,Pistons,New York,Knicks,1,9.0,9.0,85.0,0.424,29.0,0.276,36.0,0.722,33.0,12.0,24.0,13.0
18,Milwaukee,Bucks,Indiana,Pacers,0,4.0,9.0,90.0,0.456,40.0,0.475,26.0,0.654,40.0,13.0,23.0,17.0
19,Indiana,Pacers,Milwaukee,Bucks,1,4.0,10.0,93.0,0.462,33.0,0.364,28.0,0.750,36.0,9.0,19.0,12.0

In [123]:
games.info()
games.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2686 entries, 0 to 2685
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   teamCity                 2686 non-null   object
 1   teamName                 2686 non-null   object
 2   opponentTeamCity         2686 non-null   object
 3   opponentTeamName         2686 non-null   object
 4   win                      2686 non-null   int64
 5   blocks                   2682 non-null   float64
 6   steals                   2682 non-null   float64
 7   fieldGoalsAttempted      2682 non-null   float64
 8   fieldGoalsPercentage     2682 non-null   float64
 9   threePointersAttempted   2682 non-null   float64
 10  threePointersPercentage  2682 non-null   float64
 11  freeThrowsAttempted      2682 non-null   float64
 12  freeThrowsPercentage     2682 non-null   float64
 13  reboundsDefensive        2682 non-null   float64
 14  reboundsOffensive        2682 non-null   float64
 15  foulsPersonal            2682 non-null   float64
 16  turnovers                2682 non-null   float64
dtypes: float64(12), int64(1), object(4)
memory usage: 356.9+ KB

Index(['teamCity', 'teamName', 'opponentTeamCity', 'opponentTeamName', 'win',
       'blocks', 'steals', 'fieldGoalsAttempted', 'fieldGoalsPercentage',
       'threePointersAttempted', 'threePointersPercentage',
       'freeThrowsAttempted', 'freeThrowsPercentage', 'reboundsDefensive',
       'reboundsOffensive', 'foulsPersonal', 'turnovers'],
      dtype='object')

In [124]:
games.info

<bound method DataFrame.info of           teamCity      teamName opponentTeamCity opponentTeamName  win  \
0           Denver       Nuggets      Los Angeles         Clippers    1
1      Los Angeles      Clippers           Denver          Nuggets    0
2     Golden State      Warriors          Houston          Rockets    0
3          Houston       Rockets     Golden State         Warriors    1
4           Denver       Nuggets      Los Angeles         Clippers    0
...            ...           ...              ...              ...  ...
2681   Los Angeles      Clippers     Golden State         Warriors    0
2682   Los Angeles        Lakers        Minnesota     Timberwolves    0
2683     Minnesota  Timberwolves      Los Angeles           Lakers    1
2684        Boston       Celtics           Denver          Nuggets    1
2685        Denver       Nuggets           Boston          Celtics    0

      blocks  steals  fieldGoalsAttempted  fieldGoalsPercentage  \
0        4.0    11.0                 90.0                 0.522
1        9.0    10.0                 82.0                 0.476
2        6.0     6.0                 90.0                 0.411
3        5.0    12.0                 78.0                 0.449
4        7.0     6.0                 84.0                 0.524
...      ...     ...                  ...                   ...
2681     6.0    11.0                 78.0                 0.385
2682    12.0     9.0                 79.0                 0.481
2683     3.0    13.0                 94.0                 0.500
2684     8.0    13.0                 98.0                 0.378
2685     2.0    10.0                 86.0                 0.430

      threePointersAttempted  threePointersPercentage  freeThrowsAttempted  \
0                       29.0                    0.379                 21.0
1                       27.0                    0.296                 22.0
2                       49.0                    0.306                 22.0
3                       30.0                    0.400                 46.0
4                       27.0                    0.407                  9.0
...                      ...                      ...                  ...
2681                    35.0                    0.229                 28.0
2682                    32.0                    0.313                 23.0
2683                    37.0                    0.405                 26.0
2684                    61.0                    0.328                 17.0
2685                    32.0                    0.375                 26.0

      freeThrowsPercentage  reboundsDefensive  reboundsOffensive  \
0                    0.714               35.0               11.0
1                    0.682               31.0                5.0
2                    0.818               29.0               13.0
3                    0.717               35.0               11.0
4                    0.667               29.0               10.0
...                    ...                ...                ...
2681                 0.786               38.0                9.0
2682                 0.913               34.0                4.0
2683                 0.577               32.0                9.0
2684                 0.765               27.0               17.0
2685                 0.654               37.0               12.0

      foulsPersonal  turnovers
0              23.0       12.0
1              17.0       14.0
2              30.0       16.0
3              18.0       11.0
4              14.0       12.0
...             ...        ...
2681           14.0       21.0
2682           20.0       21.0
2683           19.0       16.0
2684           24.0       18.0
2685           24.0       24.0

[2686 rows x 17 columns]>

In [125]:
games.drop(columns=['foulsPersonal'], inplace=True)
games.head(20)

,teamCity,teamName,opponentTeamCity,opponentTeamName,win,blocks,steals,fieldGoalsAttempted,fieldGoalsPercentage,threePointersAttempted,threePointersPercentage,freeThrowsAttempted,freeThrowsPercentage,reboundsDefensive,reboundsOffensive,turnovers
0,Denver,Nuggets,Los Angeles,Clippers,1,4.0,11.0,90.0,0.522,29.0,0.379,21.0,0.714,35.0,11.0,12.0
1,Los Angeles,Clippers,Denver,Nuggets,0,9.0,10.0,82.0,0.476,27.0,0.296,22.0,0.682,31.0,5.0,14.0
2,Golden State,Warriors,Houston,Rockets,0,6.0,6.0,90.0,0.411,49.0,0.306,22.0,0.818,29.0,13.0,16.0
3,Houston,Rockets,Golden State,Warriors,1,5.0,12.0,78.0,0.449,30.0,0.400,46.0,0.717,35.0,11.0,11.0
4,Denver,Nuggets,Los Angeles,Clippers,0,7.0,6.0,84.0,0.524,27.0,0.407,9.0,0.667,29.0,10.0,12.0
5,Los Angeles,Clippers,Denver,Nuggets,1,9.0,9.0,86.0,0.500,39.0,0.308,15.0,0.867,26.0,9.0,7.0
6,New York,Knicks,Detroit,Pistons,1,4.0,6.0,86.0,0.477,30.0,0.333,30.0,0.800,30.0,13.0,16.0
7,Detroit,Pistons,New York,Knicks,0,3.0,9.0,81.0,0.469,34.0,0.265,33.0,0.848,30.0,6.0,15.0
8,Los Angeles,Lakers,Minnesota,Timberwolves,0,1.0,5.0,78.0,0.423,37.0,0.297,25.0,0.760,29.0,8.0,15.0
9,Minnesota,Timberwolves,Los Angeles,Lakers,1,5.0,8.0,89.0,0.404,47.0,0.149,33.0,0.727,36.0,18.0,11.0
10,Golden State,Warriors,Houston,Rockets,0,5.0,10.0,103.0,0.417,44.0,0.341,22.0,0.682,24.0,25.0,14.0
11,Houston,Rockets,Golden State,Warriors,1,7.0,9.0,78.0,0.551,30.0,0.433,38.0,0.842,31.0,8.0,12.0
12,Denver,Nuggets,Los Angeles,Clippers,1,7.0,7.0,86.0,0.558,33.0,0.515,23.0,0.783,30.0,8.0,9.0
13,Los Angeles,Clippers,Denver,Nuggets,0,8.0,6.0,82.0,0.524,29.0,0.379,28.0,0.643,28.0,10.0,10.0
14,Boston,Celtics,Orlando,Magic,1,3.0,5.0,76.0,0.566,24.0,0.542,24.0,0.875,35.0,3.0,11.0
15,Orlando,Magic,Boston,Celtics,0,2.0,7.0,88.0,0.375,38.0,0.211,22.0,0.682,29.0,15.0,9.0
16,New York,Knicks,Detroit,Pistons,0,10.0,5.0,90.0,0.433,25.0,0.360,27.0,0.593,34.0,15.0,13.0
17,Detroit,Pistons,New York,Knicks,1,9.0,9.0,85.0,0.424,29.0,0.276,36.0,0.722,33.0,12.0,13.0
18,Milwaukee,Bucks,Indiana,Pacers,0,4.0,9.0,90.0,0.456,40.0,0.475,26.0,0.654,40.0,13.0,17.0
19,Indiana,Pacers,Milwaukee,Bucks,1,4.0,10.0,93.0,0.462,33.0,0.364,28.0,0.750,36.0,9.0,12.0

In [ ]:
# Create full team names and replace original columns
games['full_team'] = games['teamCity'] + ' ' + games['teamName']
games['full_opponent'] = games['opponentTeamCity'] + ' ' + games['opponentTeamName']

# Drop original city/name columns
games.drop(['teamCity', 'teamName', 'opponentTeamCity', 'opponentTeamName'], axis=1, inplace=True)

# Show first few rows to verify
games.head()

,win,blocks,steals,fieldGoalsAttempted,fieldGoalsPercentage,threePointersAttempted,threePointersPercentage,freeThrowsAttempted,freeThrowsPercentage,reboundsDefensive,reboundsOffensive,turnovers,full_team,full_opponent
0,1,4.0,11.0,90.0,0.522,29.0,0.379,21.0,0.714,35.0,11.0,12.0,Denver Nuggets,Los Angeles Clippers
1,0,9.0,10.0,82.0,0.476,27.0,0.296,22.0,0.682,31.0,5.0,14.0,Los Angeles Clippers,Denver Nuggets
2,0,6.0,6.0,90.0,0.411,49.0,0.306,22.0,0.818,29.0,13.0,16.0,Golden State Warriors,Houston Rockets
3,1,5.0,12.0,78.0,0.449,30.0,0.400,46.0,0.717,35.0,11.0,11.0,Houston Rockets,Golden State Warriors
4,0,7.0,6.0,84.0,0.524,27.0,0.407,9.0,0.667,29.0,10.0,12.0,Denver Nuggets,Los Angeles Clippers

In [128]:
games.to_csv('2024-gamesUpdated.csv', index=False)

##Hopeuflly last time i have to do this games csv, it has both team and opponent I just need to calculate the difference

In [131]:
games = pd.read_csv('2024-games.csv')
games.head()

,wl_home,fga_home,fg_pct_home,fg3a_home,fg3_pct_home,fta_home,ft_pct_home,oreb_home,dreb_home,stl_home,...,fg_pct_away,fg3a_away,fg3_pct_away,fta_away,ft_pct_away,oreb_away,dreb_away,stl_away,blk_away,tov_away
0,W,84.0,0.452,28,0.179,23,0.565,11.0,46.0,6.0,...,0.344,35.0,0.257,16.0,0.875,11.0,33.0,9.0,7.0,8.0
1,L,78.0,0.449,25,0.320,20,0.850,8.0,29.0,2.0,...,0.494,28.0,0.500,21.0,0.762,5.0,29.0,11.0,7.0,8.0
2,L,92.0,0.370,35,0.314,19,0.789,10.0,23.0,7.0,...,0.513,18.0,0.278,27.0,0.815,13.0,45.0,3.0,5.0,14.0
3,L,75.0,0.520,28,0.393,22,0.864,9.0,29.0,7.0,...,0.487,35.0,0.486,20.0,0.900,8.0,23.0,5.0,4.0,11.0
4,W,79.0,0.506,27,0.296,20,0.800,6.0,39.0,4.0,...,0.406,39.0,0.333,2.0,1.000,11.0,32.0,5.0,4.0,8.0

In [139]:
games['Win_home'] = games['wl_home'].apply(lambda x: 1 if x == 'W' else 0)
games['Win_away'] = 0
games.head(10)

,wl_home,fga_home,fg_pct_home,fg3a_home,fg3_pct_home,fta_home,ft_pct_home,oreb_home,dreb_home,stl_home,...,fta_away,ft_pct_away,oreb_away,dreb_away,stl_away,blk_away,tov_away,Win,Win_away,Win_home
0,W,84.0,0.452,28,0.179,23,0.565,11.0,46.0,6.0,...,16.0,0.875,11.0,33.0,9.0,7.0,8.0,1,0,1
1,L,78.0,0.449,25,0.320,20,0.850,8.0,29.0,2.0,...,21.0,0.762,5.0,29.0,11.0,7.0,8.0,0,0,0
2,L,92.0,0.370,35,0.314,19,0.789,10.0,23.0,7.0,...,27.0,0.815,13.0,45.0,3.0,5.0,14.0,0,0,0
3,L,75.0,0.520,28,0.393,22,0.864,9.0,29.0,7.0,...,20.0,0.900,8.0,23.0,5.0,4.0,11.0,0,0,0
4,W,79.0,0.506,27,0.296,20,0.800,6.0,39.0,4.0,...,2.0,1.000,11.0,32.0,5.0,4.0,8.0,1,0,1
5,L,82.0,0.390,42,0.214,13,0.846,10.0,30.0,6.0,...,6.0,0.833,7.0,35.0,7.0,2.0,14.0,0,0,0
6,L,93.0,0.355,30,0.467,29,0.793,17.0,30.0,5.0,...,34.0,0.853,12.0,35.0,4.0,8.0,12.0,0,0,0
7,W,79.0,0.506,39,0.410,19,0.737,12.0,25.0,13.0,...,10.0,0.800,10.0,26.0,6.0,2.0,16.0,1,0,1
8,L,78.0,0.436,32,0.250,28,0.821,12.0,32.0,5.0,...,18.0,0.667,7.0,32.0,8.0,8.0,10.0,0,0,0
9,L,86.0,0.465,20,0.400,26,0.885,8.0,30.0,5.0,...,22.0,0.864,11.0,29.0,3.0,9.0,11.0,0,0,0

In [ ]:
columns = ['fga', 'fg_pct', 'fg3a', 'fg3_pct','fta', 'ft_pct', 'oreb', 'dreb','stl', 'blk', 'tov','Win']
diff_dict = {f'{col}_diff': [] for col in columns}
for index in games.index:
    for col in columns:
        diff_dict[f'{col}_diff'].append(games.loc[index][f'{col}_home'] - games.loc[index][f'{col}_away'])
diff = pd.DataFrame(diff_dict)
diff.head()

,fga_diff,fg_pct_diff,fg3a_diff,fg3_pct_diff,fta_diff,ft_pct_diff,oreb_diff,dreb_diff,stl_diff,blk_diff,tov_diff,Win_diff
0,-12.0,0.108,-7.0,-0.078,7.0,-0.310,0.0,13.0,-3.0,0.0,7.0,1
1,-1.0,-0.045,-3.0,-0.180,-1.0,0.088,3.0,0.0,-9.0,-4.0,7.0,0
2,12.0,-0.143,17.0,0.036,-8.0,-0.026,-3.0,-22.0,4.0,-2.0,-10.0,0
3,-3.0,0.033,-7.0,-0.093,2.0,-0.036,1.0,6.0,2.0,-2.0,3.0,0
4,-17.0,0.100,-12.0,-0.037,18.0,-0.200,-5.0,7.0,-1.0,0.0,2.0,1

In [145]:
diff.columns

Index(['fga_diff', 'fg_pct_diff', 'fg3a_diff', 'fg3_pct_diff', 'fta_diff',
       'ft_pct_diff', 'oreb_diff', 'dreb_diff', 'stl_diff', 'blk_diff',
       'tov_diff', 'Win_diff'],
      dtype='object')

In [179]:
df = pd.read_csv(r"C:/Users/aaron/OneDrive/NBAstats/teamPerGame.csv")
cols = ['Rk', 'TRB', 'FG', '3P', 'FT', 'AST', 'PF', 'PTS', '2P', '2PA', '2P%']
df.drop(cols, axis = 1, inplace=True)
df.head()

,Team,FGA,FG%,3PA,3P%,FTA,FT%,ORB,DRB,STL,BLK,TOV
0,Cleveland Cavaliers*,90.8,0.491,41.5,0.383,21.9,0.776,11.2,34.2,8.2,4.3,13.2
1,Memphis Grizzlies*,93.3,0.479,37.9,0.367,23.3,0.786,12.9,34.4,8.9,5.6,15.7
2,Denver Nuggets*,89.8,0.506,31.9,0.376,23.3,0.770,11.2,34.5,8.0,4.9,14.3
3,Oklahoma City Thunder*,92.7,0.482,38.8,0.374,20.4,0.819,10.6,34.2,10.3,5.7,11.7
4,Atlanta Hawks*,91.8,0.472,37.7,0.358,23.2,0.775,11.9,32.6,9.7,5.1,15.5

In [180]:
df["Team"] = df["Team"].str.replace("*", "")
df.head()

,Team,FGA,FG%,3PA,3P%,FTA,FT%,ORB,DRB,STL,BLK,TOV
0,Cleveland Cavaliers,90.8,0.491,41.5,0.383,21.9,0.776,11.2,34.2,8.2,4.3,13.2
1,Memphis Grizzlies,93.3,0.479,37.9,0.367,23.3,0.786,12.9,34.4,8.9,5.6,15.7
2,Denver Nuggets,89.8,0.506,31.9,0.376,23.3,0.770,11.2,34.5,8.0,4.9,14.3
3,Oklahoma City Thunder,92.7,0.482,38.8,0.374,20.4,0.819,10.6,34.2,10.3,5.7,11.7
4,Atlanta Hawks,91.8,0.472,37.7,0.358,23.2,0.775,11.9,32.6,9.7,5.1,15.5

In [181]:
df["Team"] = df['Team'].map(dmap)
df.head()

  Team   FGA    FG%   3PA    3P%   FTA    FT%   ORB   DRB   STL  BLK   TOV
0  CLE  90.8  0.491  41.5  0.383  21.9  0.776  11.2  34.2   8.2  4.3  13.2
1  MEM  93.3  0.479  37.9  0.367  23.3  0.786  12.9  34.4   8.9  5.6  15.7
2  DEN  89.8  0.506  31.9  0.376  23.3  0.770  11.2  34.5   8.0  4.9  14.3
3  OKC  92.7  0.482  38.8  0.374  20.4  0.819  10.6  34.2  10.3  5.7  11.7
4  ATL  91.8  0.472  37.7  0.358  23.2  0.775  11.9  32.6   9.7  5.1  15.5

In [182]:
team1_stats = df[df['Team'] == 'LAL']
team1_stats.head()

   Team   FGA    FG%   3PA    3P%   FTA    FT%  ORB   DRB  STL  BLK   TOV
18  LAL  85.5  0.479  36.4  0.366  23.2  0.785  9.7  32.8  7.7  4.5  14.0

In [183]:
team2_stats = df[df['Team'] == 'MEM']
team2_stats.head()

  Team   FGA    FG%   3PA    3P%   FTA    FT%   ORB   DRB  STL  BLK   TOV
1  MEM  93.3  0.479  37.9  0.367  23.3  0.786  12.9  34.4  8.9  5.6  15.7

In [184]:
columns = ['FGA', 'FG%', '3PA', '3P%','FTA', 'FT%', 'ORB', 'DRB','STL', 'BLK', 'TOV']
diff_dict = {}
for col in columns:
    diff_dict[f'{col}_diff'] = [team1_stats.iloc[0][col] - team2_stats.iloc[0][col]]
diff = pd.DataFrame(diff_dict)

In [185]:
diff.head()

,FGA_diff,FG%_diff,3PA_diff,3P%_diff,FTA_diff,FT%_diff,ORB_diff,DRB_diff,STL_diff,BLK_diff,TOV_diff
0,-7.8,0.0,-1.5,-0.001,-0.1,-0.001,-3.2,-1.6,-1.2,-1.1,-1.7

In [189]:
df = pd.read_csv(r"C:/Users/aaron/OneDrive/NBAstats/teamPerGame.csv")
cols = ['Rk', 'TRB', 'FG', '3P', 'FT', 'AST', 'PF', 'PTS', '2P', '2PA', '2P%']
df.drop(cols, axis = 1, inplace=True)
home_team = 'LAL'
away_team = 'BOS'

"""
   look through csv file for team1 and team2
"""
dmap = {'Cleveland Cavaliers': 'CLE', 'Memphis Grizzlies': 'MEM', 'Miami Heat': 'MIA', 'New Orleans Pelicans': 'NOP', 
            'Oklahoma City Thunder': 'OKC', 'Orlando Magic': 'ORL', 'Philadelphia 76ers': 'PHI', 'Phoenix Suns': 'PHX', 
            'Portland Trail Blazers': 'POR', 'San Antonio Spurs': 'SAS', 'Toronto Raptors': 'TOR', 'Utah Jazz': 'UTA', 'Denver Nuggets': 'DEN', 
            'Golden State Warriors': 'GSW', 'Los Angeles Clippers': 'LAC', 'Los Angeles Lakers': 'LAL', 'Minnesota Timberwolves': 'MIN', 'Brooklyn Nets': 'BKN', 
            'Charlotte Hornets': 'CHA', 'Chicago Bulls': 'CHI', 'Dallas Mavericks': 'DAL', 'Detroit Pistons': 'DET', 'Houston Rockets': 'HOU', 
            'Indiana Pacers': 'IND', 'Milwaukee Bucks': 'MIL', 'New York Knicks': 'NYK', 'Sacramento Kings': 'SAC', 'Atlanta Hawks': 'ATL', 
            'Boston Celtics': 'BOS', 'Washington Wizards': 'WAS'}
df["Team"] = df["Team"].str.replace("*", "")
df["Team"] = df['Team'].map(dmap)
home_stats = df[df['Team'] == home_team]
opp_stats = df[df['Team'] == away_team]
print(f'Home Team Stats: {home_stats}')
print(f'Away Team Stats: {opp_stats}')
    
columns = ['FGA', 'FG%', '3PA', '3P%','FTA', 'FT%', 'ORB', 'DRB','STL', 'BLK', 'TOV']
diff_dict = {}
for col in columns:
    diff_dict[f'{col}_diff'] = [home_stats.iloc[0][col] - opp_stats.iloc[0][col]]
diff = pd.DataFrame(diff_dict)

diff.head()

Home Team Stats:    Team   FGA    FG%   3PA    3P%   FTA    FT%  ORB   DRB  STL  BLK   TOV
18  LAL  85.5  0.479  36.4  0.366  23.2  0.785  9.7  32.8  7.7  4.5  14.0
Away Team Stats:   Team   FGA    FG%   3PA    3P%   FTA    FT%   ORB   DRB  STL  BLK   TOV
7  BOS  90.0  0.462  48.2  0.368  19.1  0.799  11.4  33.9  7.2  5.5  11.9

,FGA_diff,FG%_diff,3PA_diff,3P%_diff,FTA_diff,FT%_diff,ORB_diff,DRB_diff,STL_diff,BLK_diff,TOV_diff
0,-4.5,0.017,-11.8,-0.002,4.1,-0.014,-1.7,-1.1,0.5,-1.0,2.1

In [190]:
games = pd.read_csv(r"C:\Users\aaron\OneDrive\NBAstats\2024-games.csv")
games['Win_home'] = games['wl_home'].apply(lambda x: 1 if x == 'W' else 0)
games['Win_away'] = 0
columns = ['fga', 'fg_pct', 'fg3a', 'fg3_pct','fta', 'ft_pct', 'oreb', 'dreb','stl', 'blk', 'tov','Win']
diff_dict = {f'{col}_diff': [] for col in columns}
for index in games.index:
    for col in columns:
        diff_dict[f'{col}_diff'].append(games.loc[index][f'{col}_home'] - games.loc[index][f'{col}_away'])
diff = pd.DataFrame(diff_dict)

In [191]:
diff.head()

,fga_diff,fg_pct_diff,fg3a_diff,fg3_pct_diff,fta_diff,ft_pct_diff,oreb_diff,dreb_diff,stl_diff,blk_diff,tov_diff,Win_diff
0,-12.0,0.108,-7.0,-0.078,7.0,-0.310,0.0,13.0,-3.0,0.0,7.0,1
1,-1.0,-0.045,-3.0,-0.180,-1.0,0.088,3.0,0.0,-9.0,-4.0,7.0,0
2,12.0,-0.143,17.0,0.036,-8.0,-0.026,-3.0,-22.0,4.0,-2.0,-10.0,0
3,-3.0,0.033,-7.0,-0.093,2.0,-0.036,1.0,6.0,2.0,-2.0,3.0,0
4,-17.0,0.100,-12.0,-0.037,18.0,-0.200,-5.0,7.0,-1.0,0.0,2.0,1

In [192]:
diff.dropna()

,fga_diff,fg_pct_diff,fg3a_diff,fg3_pct_diff,fta_diff,ft_pct_diff,oreb_diff,dreb_diff,stl_diff,blk_diff,tov_diff,Win_diff
0,-12.0,0.108,-7.0,-0.078,7.0,-0.310,0.0,13.0,-3.0,0.0,7.0,1
1,-1.0,-0.045,-3.0,-0.180,-1.0,0.088,3.0,0.0,-9.0,-4.0,7.0,0
2,12.0,-0.143,17.0,0.036,-8.0,-0.026,-3.0,-22.0,4.0,-2.0,-10.0,0
3,-3.0,0.033,-7.0,-0.093,2.0,-0.036,1.0,6.0,2.0,-2.0,3.0,0
4,-17.0,0.100,-12.0,-0.037,18.0,-0.200,-5.0,7.0,-1.0,0.0,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1381,-2.0,0.105,6.0,0.168,-12.0,-0.233,-1.0,2.0,-3.0,3.0,5.0,1
1382,-17.0,0.224,14.0,0.316,-8.0,0.157,-8.0,21.0,-9.0,1.0,12.0,1
1383,9.0,-0.064,9.0,-0.006,-8.0,-0.010,7.0,2.0,-3.0,-1.0,1.0,0
1384,5.0,0.002,9.0,-0.098,-10.0,-0.142,-3.0,-15.0,6.0,7.0,-3.0,0
1385,-8.0,0.177,13.0,0.260,12.0,-0.012,2.0,15.0,-5.0,1.0,7.0,1

In [193]:
diff.info

<bound method DataFrame.info of       fga_diff  fg_pct_diff  fg3a_diff  fg3_pct_diff  fta_diff  ft_pct_diff  \
0        -12.0        0.108       -7.0        -0.078       7.0       -0.310
1         -1.0       -0.045       -3.0        -0.180      -1.0        0.088
2         12.0       -0.143       17.0         0.036      -8.0       -0.026
3         -3.0        0.033       -7.0        -0.093       2.0       -0.036
4        -17.0        0.100      -12.0        -0.037      18.0       -0.200
...        ...          ...        ...           ...       ...          ...
2681       NaN          NaN        NaN           NaN       NaN          NaN
2682       NaN          NaN        NaN           NaN       NaN          NaN
2683       NaN          NaN        NaN           NaN       NaN          NaN
2684       NaN          NaN        NaN           NaN       NaN          NaN
2685       NaN          NaN        NaN           NaN       NaN          NaN

      oreb_diff  dreb_diff  stl_diff  blk_diff  tov_diff  Win_diff
0           0.0       13.0      -3.0       0.0       7.0         1
1           3.0        0.0      -9.0      -4.0       7.0         0
2          -3.0      -22.0       4.0      -2.0     -10.0         0
3           1.0        6.0       2.0      -2.0       3.0         0
4          -5.0        7.0      -1.0       0.0       2.0         1
...         ...        ...       ...       ...       ...       ...
2681        NaN        NaN       NaN       NaN       NaN         0
2682        NaN        NaN       NaN       NaN       NaN         0
2683        NaN        NaN       NaN       NaN       NaN         0
2684        NaN        NaN       NaN       NaN       NaN         0
2685        NaN        NaN       NaN       NaN       NaN         0

[2686 rows x 12 columns]>

In [194]:
 df = pd.read_csv(r"C:/Users/aaron/OneDrive/NBAstats/teamPerGame.csv")
cols = ['Rk', 'TRB', 'FG', '3P', 'FT', 'AST', 'PF', 'PTS', '2P', '2PA', '2P%']
df.drop(cols, axis = 1, inplace=True)
home_team = 'LAL'
away_team = 'BOS'

"""
    look through csv file for team1 and team2
    """
dmap = {'Cleveland Cavaliers': 'CLE', 'Memphis Grizzlies': 'MEM', 'Miami Heat': 'MIA', 'New Orleans Pelicans': 'NOP', 
            'Oklahoma City Thunder': 'OKC', 'Orlando Magic': 'ORL', 'Philadelphia 76ers': 'PHI', 'Phoenix Suns': 'PHX', 
            'Portland Trail Blazers': 'POR', 'San Antonio Spurs': 'SAS', 'Toronto Raptors': 'TOR', 'Utah Jazz': 'UTA', 'Denver Nuggets': 'DEN', 
            'Golden State Warriors': 'GSW', 'Los Angeles Clippers': 'LAC', 'Los Angeles Lakers': 'LAL', 'Minnesota Timberwolves': 'MIN', 'Brooklyn Nets': 'BKN', 
            'Charlotte Hornets': 'CHA', 'Chicago Bulls': 'CHI', 'Dallas Mavericks': 'DAL', 'Detroit Pistons': 'DET', 'Houston Rockets': 'HOU', 
            'Indiana Pacers': 'IND', 'Milwaukee Bucks': 'MIL', 'New York Knicks': 'NYK', 'Sacramento Kings': 'SAC', 'Atlanta Hawks': 'ATL', 
            'Boston Celtics': 'BOS', 'Washington Wizards': 'WAS'}
df["Team"] = df["Team"].str.replace("*", "")
df["Team"] = df['Team'].map(dmap)
home_stats = df[df['Team'] == home_team]
opp_stats = df[df['Team'] == away_team]
print(f'Home Team Stats: {home_stats}')
    
    
print(f'Away Team Stats: {opp_stats}')
    

columns = ['FGA', 'FG%', '3PA', '3P%','FTA', 'FT%', 'ORB', 'DRB','STL', 'BLK', 'TOV']
diff_dict = {}
for col in columns:
    diff_dict[f'{col}_diff'] = [home_stats.iloc[0][col] - opp_stats.iloc[0][col]]
diff = pd.DataFrame(diff_dict)

Home Team Stats:    Team   FGA    FG%   3PA    3P%   FTA    FT%  ORB   DRB  STL  BLK   TOV
18  LAL  85.5  0.479  36.4  0.366  23.2  0.785  9.7  32.8  7.7  4.5  14.0
Away Team Stats:   Team   FGA    FG%   3PA    3P%   FTA    FT%   ORB   DRB  STL  BLK   TOV
7  BOS  90.0  0.462  48.2  0.368  19.1  0.799  11.4  33.9  7.2  5.5  11.9

In [195]:
diff.head()
diff.columns

Index(['FGA_diff', 'FG%_diff', '3PA_diff', '3P%_diff', 'FTA_diff', 'FT%_diff',
       'ORB_diff', 'DRB_diff', 'STL_diff', 'BLK_diff', 'TOV_diff'],
      dtype='object')

In [197]:
new_columns = {
        'FGA_diff': 'fga_diff',
        'FG%_diff': 'fg_pct_diff',
        '3PA_diff': 'fg3a_diff',
        '3P%_diff': 'fg3_pct_diff',
        'FTA_diff': 'fta_diff',
        'FT%_diff': 'ft_pct_diff',
        'ORB_diff': 'oreb_diff',
        'DRB_diff': 'dreb_diff',
        'STL_diff': 'stl_diff',
        'BLK_diff': 'blk_diff',
        'TOV_diff': 'tov_diff'
    }
diff.rename(columns=new_columns, inplace=True)
diff.head()

,fga_diff,fg_pct_diff,fg3a_diff,fg3_pct_diff,fta_diff,ft_pct_diff,oreb_diff,dreb_diff,stl_diff,blk_diff,tov_diff
0,-4.5,0.017,-11.8,-0.002,4.1,-0.014,-1.7,-1.1,0.5,-1.0,2.1